<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|Squada+One' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Fresh Backbone</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

    <header>
      <div>
        <h1>The Universe</h1>
        <h2>Application by Mason Whitaker</h2>
      </div>
    </header>

    <section>
      <nav>
        <script type="text/template" id="template-target">
          <div class="planet">
            <ul>
              <li>
                <a href="<% planet.url %>"><%= planet.name %></a>
                <img src="<%= planet.imgUrl %>">
              </li>
            </ul>  
          </div>
        </script>
      </nav>
    </section>

    <aside>
      <nav>
        <div class="planet">
          <a href="#/mars">Mars</a>
          <img src="http://i.imgur.com/ptzox8q.jpg" id="mars">
        </div>
        <div class="planet">
          <a href="#/jupiter">Jupiter</a>
          <img src="http://i.imgur.com/IULkCb8.jpg" id="jupiter">
        </div>
        <div class="planet">
          <a href="#/uranus">Uranus</a>
          <img src="http://i.imgur.com/LA1RyyX.jpg" id="uranus">
        </div>
        <div class="planet">
          <a href="#/saturn">Saturn</a>
          <img src="http://i.imgur.com/23ya4dd.jpg" id="saturn">
        </div>
        <div class="planet">
          <a href="#/venus">Venus</a>
          <img src="http://i.imgur.com/Kqlp3hV.jpg" id="venus">
        </div>
        <div class="planet">
          <a href="#/mercury">Mercury</a>
          <img src="http://i.imgur.com/8151u9d.jpg" id="mercury">
        </div>
      </nav>
    </aside>

    <footer>
      <h3>Copyright: Maswhitaker Front End Development</h3>
    </footer>



    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
